// ================================================================================
// + Font Faces
// --------------------------------------------------------------------------------


$font-root: "../fonts";




// ================================================================================
// + CJK
// --------------------------------------------------------------------------------


// - Bibi YuGothic
// --------------------------------------------------------------------------------

@mixin font_BibiYuGothic() {
	/* ## Light */
	@font-face {  font-family: "BibiYuGothic";  font-weight: 100;  src: local("YuGothic-Light"),   local("Yu Gothic Light");  }
	@font-face {  font-family: "BibiYuGothic";  font-weight: 200;  src: local("YuGothic-Light"),   local("Yu Gothic Light");  }
	/* ## Regular */
	@font-face {  font-family: "BibiYuGothic";  font-weight: 300;  src: local("YuGothic-Regular"), local("Yu Gothic");  }
	/* ## Medium */
	@font-face {  font-family: "BibiYuGothic";  font-weight: 400;  src: local("YuGothic-Medium"),  local("Yu Gothic Medium"), local("YuGothic-Regular"), local("Yu Gothic");  }
	@font-face {  font-family: "BibiYuGothic";  font-weight: 500;  src: local("YuGothic-Medium"),  local("Yu Gothic Medium"), local("YuGothic-Regular"), local("Yu Gothic");  }
	/* ## Bold */
	@font-face {  font-family: "BibiYuGothic";  font-weight: 600;  src: local("YuGothic-Bold"),    local("Yu Gothic");  }
	@font-face {  font-family: "BibiYuGothic";  font-weight: 700;  src: local("YuGothic-Bold"),    local("Yu Gothic");  }
	@font-face {  font-family: "BibiYuGothic";  font-weight: 800;  src: local("YuGothic-Bold"),    local("Yu Gothic");  }
	@font-face {  font-family: "BibiYuGothic";  font-weight: 900;  src: local("YuGothic-Bold"),    local("Yu Gothic");  }
}
@include font_BibiYuGothic();