[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.1.2"
raven = ">=6.10.0"
django-filter = "==2.0.0"
django-cleanup = "==3.0.1"
django-webpack-loader = "==0.6.0"
djangorestframework = "==3.11.2"
django-debug-toolbar = ">=1.11"
certifi = ">=2018.11.29"
drf-flex-fields = "==0.3.5"
drf-extensions = "==0.4.0"
pillow = ">=5.3.0"
libsass = "==0.16.1"
django_extensions = "==2.1.4"

[dev-packages]
