{% extends "partials/json-ld-base.html" %}
{% load common i18n %}
{% block listItems %}
            {
                "@type": "ListItem",
                "position": 2,
                "item": "{{ comic.name }}"
            },{
                "@type": "ListItem",
                "position": 2,
                "item": "{{ chapter.comic.name }}"
            },{% if chapter.volume %}
            {
                "@type": "ListItem",
                "position": 3,
                "item": "{% blocktrans with volume=chapter.volume %}Vol. {{ volume }}{% endblocktrans %}"
            },
            {
                "@type": "ListItem",
                "position": 4,
                "item": "{{ chapter.simple_title }}"
            }{% else %}
            {
                "@type": "ListItem",
                "position": 3,
                "item": "{{ chapter.full_title }}"
            }{% endif %}{% endblock %}
{% block mainEntity %}
            "@type": "ComicIssue",
            "identifier": "urn:uuid:{{ chapter.uniqid }}",
            "name": "{{ chapter.simple_title }}",
            "alternativeHeadline": "{{ chapter.full_title }}",
            {% if chapter.comic.alt %}"alternateName": "{{ chapter.comic.alt }}",{% endif %}
            "author": [{% for person in chapter.comic.author.all %}{"@type": "Person", "name": "{{ person.name }}"{% if person.alt %}, "alternateName": "{{ person.alt }}"{% endif %}, "identifier": "{{ person.id }}", "url": "{% url 'person' person.id %}"}{% endfor %}],
            "artist": [{% for person in chapter.comic.artist.all %}{"@type": "Person", "name": "{{ person.name }}"{% if person.alt %}, "alternateName": "{{ person.alt }}"{% endif %}, "identifier": "{{ person.id }}", "url": "{% url 'person' person.id %}"}{% endfor %}],
            "accessMode": "visual",
            "accessibilityControl": ["fullKeyboardControl", "fullMouseControl", "fullTouchControl"],
            "isAccessibleForFree": true,
            "provider": "{{ GENERATOR }}",
            "publisher": [{% for team in chapter.team.all %}{"name": "{{ team.name }}", "identifier": "{{ BASE_URL }}{% url 'team' team_id=team.id %}"{% if not forloop.last %}}, {% else %}}{% endif %}{% endfor %}],
            "description": "{{ chapter.comic.description }}",
            {% if chapter.comic.cover %}"image": "{% icdn chapter.comic.cover.url %}",
            "thumbnailUrl": "{% icdn chapter.comic.cover.url options='{"thumb": true}' %}",{# TODO: actual thumbnail (smaller res) #}{% endif %}
            "datePublished": "{{ chapter.created_at|date:"c" }}",
            "dateModified": "{{ chapter.modified_at|date:"c" }}",
            "inLanguage": "{{ chapter.language }}",
            "genre": [{% for tag in chapter.comic.tags.all %}"{{ tag.name }}"{% if not forloop.last %}, {% endif %}{% endfor %}]
{% endblock %}