<script type="application/ld+json">
    {
        "@context": "http://readium.org/webpub/default.jsonld",{# Reference at https://github.com/readium/webpub-manifest/tree/master/contexts/default #}
        "metadata": {
            "@type": "ComicIssue",
            "identifier": "urn:uuid:{{ chapter.uniqid }}",
            "name": "{{ chapter.simple_title }}",
            "subtitle": "{{ chapter.full_title }}",
            "author": [{% for person in chapter.comic.author.all %}{"@type": "Person", "name": "{{ person.name }}"{% if person.alt %}, "alternateName": "{{ person.alt }}"{% endif %}, "identifier": "{{ person.id }}", "url": "{% url 'person' person.id %}"}{% endfor %}],
            "artist": [{% for person in chapter.comic.artist.all %}{"@type": "Person", "name": "{{ person.name }}"{% if person.alt %}, "alternateName": "{{ person.alt }}"{% endif %}, "identifier": "{{ person.id }}", "url": "{% url 'person' person.id %}"}{% endfor %}],
            "accessMode": "visual",
            "accessibilityControl": ["fullKeyboardControl", "fullMouseControl", "fullTouchControl"],
            "isAccessibleForFree": true,
            "provider": "{{ GENERATOR }}",
            "publisher": [{% for team in chapter.team.all %}{"name": "{{ team.name }}", "identifier": "{{ BASE_URL }}{% url 'team' team_id=team.id %}"{% if not forloop.last %}}, {% else %}}{% endif %}{% endfor %}],
            "description": "{{ chapter.comic.description }}",
            "image": "{{ chapter.comic.cover.url }}",
            "thumbnailUrl": "{{ chapter.comic.cover.url }}",{# TODO: actual thumbnail (smaller res) #}
            {# {% if chapter.comic.alt %}"alternateName": "{{ chapter.comic.alt }}",{% endif %} #}                
            "published": "{{ chapter.created_at|date:"c" }}",
            "modified": "{{ chapter.modified_at|date:"c" }}",
            "language": "{{ chapter.language }}",
            "subject": [{% for tag in chapter.comic.tags.all %}"{{ tag.name }}"{% if not forloop.last %}, {% endif %}{% endfor %}],
            "belongs_to": {
                "series": {
                    "name": "{{ chapter.comic.name }}",
                    "identifier": "{{ BASE_URL }}{{ chapter.comic.get_absolute_url }}",
                    "position": {{ chapter.decimal }}
                },{% if chapter.volume %}
                "collection": {
                    "name": "{% blocktrans with volume=chapter.volume %}Volume {{ volume }}{% endblocktrans %}"
                }{% endif %}
            },
            "numberOfPages": {{ pages|length }}
        },
        "links": [
            {"rel": "self", "href": "{{ request.build_absolute_uri }}", "type": "application/webpub+json"}{# {"rel": "alternate", "href": "TODO", "type": "application/vnd.comicbook+zip"} #}
        ],
        "spine": [
        {% for page in pages %}    {"href": "{{ page.file }}", "type": "{{ page.mime }}", "height": {{ page.height }}, "width": {{ page.width }}{% if forloop.first %}, "title": "Cover"{% endif %}{% if not forloop.last %}},{% else %}}{% endif %}{# "properties": {"page": "right"} #}
        {% endfor %}]
    }]
</script>{# "accessibilitySummary": {% if protected #}