{% extends "partials/json-ld-base.html" %}
{% block listItems %}
            {
                "@type": "ListItem",
                "position": 2,
                "item": "{{ comic.name }}"
            }{% endblock %}
{% block mainEntity %}
            "@type": "ComicSeries",
            "provider": "{{ GENERATOR }}",
            "name": "{{ comic.name }}",
            {% if comic.alt %}"alternateName": "{{ comic.alt }}",{% endif %}
            "about": "{{ comic.description }}",
            "identifier": "urn:uuid:{{ comic.uniqid }}",
            {% if comic.cover %}"image": "{{ comic.cover.url }}",
            "thumbnailUrl": "{{ comic.cover.url }}",{# TODO: actual thumbnail (smaller res) #}{% endif %}
            "author": [{% for person in comic.author.all %}{"@type": "Person", "name": "{{ person.name }}"{% if person.alt %}, "alternateName": "{{ person.alt }}"{% endif %}, "identifier": "{{ person.id }}", "url": "{% url 'person' person.id %}"}{% if not forloop.last %}, {% endif %}{% endfor %}],
            "creator": [{% for person in comic.artist.all %}{"@type": "Person", "name": "{{ person.name }}"{% if person.alt %}, "alternateName": "{{ person.alt }}"{% endif %}, "identifier": "{{ person.id }}", "url": "{% url 'person' person.id %}"}{% if not forloop.last %}, {% endif %}{% endfor %}],
            "dateCreated": "{{ comic.created_at|date:"c" }}",
            "dateModified": "{{ comic.modified_at|date:"c" }}",
            "genre": [{% for tag in comic.tags.all %}"{{ tag.name }}"{% if not forloop.last %}, {% endif %}{% endfor %}]
{% endblock %}