{% load i18n common %}
<div style="text-align: center;">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
        <input name="cmd" type="hidden" value="_s-xclick" />
        <input type="hidden" name="lc" value="en_US">
        <input name="hosted_button_id" type="hidden" value="YM62PDDP9V6N6" />
        <input src="{% icdn '/static/img/paypal.png' %}" title="PayPal" type="image" />&nbsp;
    </form>
    <a href="https://www.patreon.com/Whimsubs" target="_blank">
        <img border="0" src="{% icdn '/static/media/uploads/patreon.png' %}" width="200px" height="auto" />
    </a>
    <br /><br />
    <a class="mdc-button mdc-button--raised ripple" href="{% url 'blog_archive' %}">{% trans 'Post Archive' %}</a>
</div>