{% extends "layout.html" %}
{% load flatpages common humanize i18n cache static %}
{% load render_bundle from webpack_loader %}
{% block html_prefix %} article: http://ogp.me/ns/article#{% endblock %}
{% block title %}{% tt request chapter %}{% endblock %}
{% cache 600 og_data chapter.uniqid %}{% block extra_head %}{# TODO: make into template tag you can pass objects #}
    <meta property="og:title" content="{% tt request chapter %}" />
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="{{ chapter.created_at|date:'c' }}">
    <meta property="article:modified_time" content="{{ chapter.modified_at|date:'c' }}">
    {% with chapter.team.all as teams %}{% ifnotequal teams|length 0 %}<meta name="author" content="{% for team in teams %}{{ team }}{% if not forloop.last %}, {% endif %}{% endfor %}">{% endifnotequal %}
    {% for team in teams %}<meta property="article:author" content="{% url 'team' team_id=team.id %}">{% endfor %}{% endwith %}
    {% for tag in chapter.comic.tags.all %}<meta property="article:tag" content="{{ tag.name }}">{% endfor %}
    <meta property="article:section" content="{{ chapter.comic }}">
    {% if chapter.comic.cover %}
    <meta property="og:image" content="{% icdn chapter.comic.cover.url options='{"thumb": true}' %}" />
    <meta property="og:image:alt" content="{% blocktrans with comic=chapter.comic %}Cover for {{ comic }}{% endblocktrans %}" />
    {% endif %}
    <link rel="alternate" type="application/rss+xml" title="{% blocktrans with comic=chapter.comic %}RSS Feed for '{{ comic }}'{% endblocktrans %}" href="{% url 'feed_rss_comic' chapter.comic.uniqid %}" />
    <link rel="alternate" type="application/atom+xml" title="{% blocktrans with comic=chapter.comic %}Atom Feed for '{{ comic }}'{% endblocktrans %}" href="{% url 'feed_atom_comic' chapter.comic.uniqid %}" />
    {% if page > 0 %}<!-- Fallback for users without JavaScript -->
    <noscript>
        <meta http-equiv="refresh" content="0;url={% url 'read_uuid_page' chapter.uniqid 0 %}">
    </noscript>{% endif %}
    <script type="application/ld+json">{% jsonld request chapter %}</script>
{% endblock %}{% block final_head %}
    {% render_bundle 'comicake' 'css' %}
    {% render_bundle 'reader' 'css' %}
    {% render_bundle 'reader' 'js' %}
{% endblock%}{% endcache %}
{% block extrabody %}{% if page > 0 %} data-bibi-book="{{ manifest_url }}" data-controller="reader"{% endif %}{% endblock %}
{% block header %}<div id="bibi-menu" class="noselect mdc-toolbar mdc--theme-primary mdc-toolbar--fixed mdc-toolbar--waterfall" data-turbolinks="false">
    <div class="mdc-toolbar__row">
        <section class="mdc-toolbar__section mdc-toolbar__section--align-start">
            <a href="/" class="material-icons logo mdc-toolbar__menu-icon"><img src="{% static 'img/logo.svg' %}"/></a>
            <span class="etext mhide"><a href="{% url 'series' chapter.comic.slug %}" title="{{ chaper.comic.name }}{% if comic.alt %} ({{ chapter.comic.alt }}){% endif %}">{{ chapter.comic.name }}</a> &rsaquo; {{ chapter.simple_title }}</span>
        </section>
        <section class="mdc-toolbar__section mdc-toolbar__section--align-end" data-controller="search">
            <div>
                <nav id="toolbar-tab-bar" class="mdc-tab-bar custom-tab-bar-in-toolbar mdc-tab-bar--icons-tabs">
                    <a class="mdc-tab{% if '/r/latest/' == request.path %} mdc-tab--active{% endif %} ripple" title="{% trans 'Latest' %}" href="/r/latest/">
                        <i class="material-icons mdc-tab__icon" aria-hidden="true">access_time</i>
                    </a>
                    <a class="mdc-tab{% if '/r/directory/' == request.path %} mdc-tab--active{% endif %} ripple" title="{% trans 'Directory' %}" href="/r/directory/">
                        <i class="material-icons mdc-tab__icon" aria-hidden="true">view_list</i>
                    </a>
                    <a class="mdc-tab{% if '/r/directory/' == request.path %} mdc-tab--active{% endif %} ripple" title="{% trans 'Search' %}" href="/r/search/">
                        <i class="material-icons mdc-tab__icon" aria-hidden="true">search</i>
                    </a>
                </nav>
            </div>
        </section>
    </div>
</div>{% endblock %}
{% block body %}
{% if page is 0 %}
<main role="main" class="mdc-toolbar-fixed-adjust mdc-theme--text-primary-on-primary" >
    Hello!
</main>
{% else %}
<!--<main role="main" class="mdc-toolbar-fixed-adjust mdc-theme--text-primary-on-primary" >
    </main>-->
    <!--<div id="mdc-js-snackbar"
        class="mdc-snackbar dhide"
        aria-live="assertive"
        aria-atomic="true"
        aria-hidden="true">
    <div class="mdc-snackbar__text"></div>
    <div class="mdc-snackbar__action-wrapper">
    <button type="button" class="mdc-snackbar__action-button"></button>
    </div>
    </div>-->
{% endif %}
{% endblock %}
{% block footer %}{% endblock %}