{% extends "layout.html" %}
{% load common i18n static %}
{% block html_prefix %} website: http://ogp.me/ns/website#{% endblock %}
{% block title %}{% tt request flatpage.title %}{% endblock %}
{% block extra_head %}{# TODO: make into template tag you can pass objects #}
    <meta property="og:title" content="{% tt request flatpage.title %}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'img/logo.svg' %}" />
    <meta property="og:image:alt" content="{% blocktrans with site=SITE_TITLE %}Logo for {{ SITE_TITLE }}{% endblocktrans %}" />
    <script type="application/ld+json">{% jsonld request flatpage %}</script>
{% endblock %}
{% block body %}
    <main class="mdc-toolbar-fixed-adjust mdc-theme--text-primary-on-primary">
        <h1>{{ flatpage.title }}</h1>
        {{ flatpage.content }}
    </main>
{% endblock %}