{% extends "layout.html" %}
{% load flatpages common humanize i18n static %}
{% block title %}{% tt request 'Archive' %}{% endblock %}
{% block extra_head %}{# TODO: make into template tag you can pass objects #}
    <meta property="og:title" content="{% tt request 'Posts' %}" />
    <meta property="og:description" content="{% blocktrans with site_name=SITE_TITLE %}Post archive for {{ site_name }}{% endblocktrans %}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'img/logo.svg' %}" />
    <meta property="og:image:alt" content="{% blocktrans with site=SITE_TITLE %}Logo for {{ SITE_TITLE }}{% endblocktrans %}" />
    <meta name="description" content="{% blocktrans with site_name=SITE_TITLE %}Post archive for {{ site_name }}{% endblocktrans %}">
{% endblock %}
{% block body %}
    <main class="mdc-toolbar-fixed-adjust">
        {% include "partials/posts.html" with posts=posts %}
        {% include 'partials/pagination.html' with subject=posts page="blog_archive_page" %}
    </main>
{% endblock %}