{% extends "layout.html" %}
{% load common i18n %}
{% block html_prefix %} profile: http://ogp.me/ns/profile#{% endblock %}
{% block title %}{% tt request person %}{% endblock %}
{% block extra_head %}
    <meta property="og:title" content="{% tt request person %}" />
    <meta property="og:description" content="{{ person.name }}{% if person.alt %} ({{ person.alt }}){% endif %}" />
    <meta property="og:type" content="profile" />
    <meta property="profile:first_name" content="{{ person.name }}">
    <meta name="description" content="{{ person.name }}{% if person.alt %} ({{ person.alt }}){% endif %}">
    <script type="application/ld+json">{% jsonld request person %}</script>
{% endblock %}
{% block body %}
    <div class="panel">
        <div class="list">
            <div class="title">
                <a href="{% url 'person' person.id %}">{{ person.name }}{% if person.alt %}<span class="mdc-typography--title">「{{ person.alt }}」</span>{% endif %}</a>
            </div>
            <div class="group">
                <div>
                    {{ team.description }}
                </div>
            </div>
            <div class="group">
                <div class="title">{% trans 'Works' %}</div>{% for comic in person.comics.all %}
                <div class="element">
                    <div class="image">
                        <img class="preview" src="{% icdn comic.cover.url options='{"thumb": true}' %}" alt="{% blocktrans with comic=comic %}Cover for {{ comic }}{% endblocktrans %}">
                    </div>
                    <div class="info">
                        <a href="{% url 'series' comic.slug %}"><b>{{ comic.name }}</b></a>
                    </div>
                    <div class="info">{% spaceless %}
                        {% with authors=comic.author.all artists=comic.artist.all %}
                        {% if person in authors %}{% trans 'Author' %}{% endif %}{% if person in authors and person in artists %}{% trans ' & ' %}{% endif %}{% if person in artists %}{% trans 'Artist' %}{% endif %}
                        {% endwith %}
                    {% endspaceless %}</div>
                </div>{% empty %}
                <span>{% trans 'This person has no works' %}</span>{% endfor %}
            </div>
        </div>
    </div>
{% endblock %}