{% extends "layout.html" %}
{% load flatpages common humanize i18n static %}
{% block title %}{% tt request 'Series List' %}{% endblock %}
{% block extra_head %}{# TODO: make into template tag you can pass objects #}
    <meta property="og:title" content="{% tt request 'Series List' %}" />
    <meta property="og:description" content="{% blocktrans with site_name=SITE_TITLE %}Series list for {{ site_name }}{% endblocktrans %}" />
    <meta property="og:type" content="website" />
    <meta name="description" content="{% blocktrans with site_name=SITE_TITLE %}Series List for {{ site_name }}{% endblocktrans %}">
{% endblock %}
{% block body %}
    <main class="mdc-toolbar-fixed-adjust">
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner" data-controller="clickable">{% for comic in comics %}
                <div class="mdc-layout-grid__cell">
                    <div class="mdc-card">
                        <div class="mdc-card__media mdc-card__media--square" style="background-image:url('{% if comic.cover %}{% icdn comic.cover.url options='{"small": true}' %}{% else %}{% static 'img/placeholder.svg' %}{% endif %}');">
                            <div class="mdc-card__media-content mdc-card__media-content--with-title" data-action="click->clickable#click">
                                <div class="mdc-card__media-title">
                                    <a href="{% url 'series' comic.slug %}" data-target="clickable.target">
                                        {{ comic.name }}{% if comic.alt %}<span class="mdc-typography--caption">「{{ comic.alt }}」</span>{% endif %}
                                    </a>
                                    <div class="mdc-typography--caption">
                                        {% include 'partials/people.html' with people=comic.author.all %}{% if comic.artist.all.count %} | {% endif %}{% include 'partials/people.html' with people=comic.artist.all %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mdc-card__actions" data-turbolinks="false">
                            <div class="mdc-card__action-buttons">
                                {% with comic.latest_chapter as chapter %}{% if chapter %}<a href="{% cpath chapter %}" class="mdc-button mdc-button--raised mdc-card__action mdc-card__action--button ripple">{% trans 'Latest Release' %}</a>{% endif %}{% endwith %}
                            </div>
                            <div class="mdc-card__action-icons">
                                {% include 'partials/rss_link.html' with comic=comic class="ripple mdc-ripple-surface" innerclass="rss-here material-icons mdc-card__action mdc-card__action--icon" %}
                            </div>
                        </div>
                    </div>
                </div>{% empty %}
            <div class="mdc-layout-grid__cell"><span>{% trans 'No series have been published' %}</span></div>
            {% endfor %}
            </div>
        </div>
        {% include 'partials/pagination.html' with subject=comics page="directory_page" %}
    </main>
{% endblock %}