{% extends "layout.html" %}
{% load flatpages common humanize i18n cache static %}
{% load render_bundle from webpack_loader %}
{% block html_prefix %} article: http://ogp.me/ns/article#{% endblock %}
{% block title %}{% tt request chapter %}{% endblock %}
{% block extra_head %}{% cache 600 og_data chapter.uniqid %}{# TODO: make into template tag you can pass objects #}
    <meta property="og:title" content="{% tt request chapter %}" />
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="{{ chapter.published_at|date:'c' }}">
    <meta property="article:modified_time" content="{{ chapter.modified_at|date:'c' }}">
    {% with chapter.team.all as teams %}{% ifnotequal teams|length 0 %}<meta name="author" content="{% for team in teams %}{{ team }}{% if not forloop.last %}, {% endif %}{% endfor %}">{% endifnotequal %}
    {% for team in teams %}<meta property="article:author" content="{% url 'team' team_id=team.id %}">{% endfor %}{% endwith %}
    {% for person in chapter.comic.people %}<meta property="article:author" content="{% url 'person' person_id=person.id %}">{% endfor %} 
    {% for tag in chapter.comic.tags.all %}<meta property="article:tag" content="{{ tag.name }}">{% endfor %}
    <meta property="article:section" content="{{ chapter.comic }}">
    {% if chapter.comic.cover %}
    <meta property="og:image" content="{% icdn chapter.comic.cover.url options='{"small": true}' %}" />
    <meta property="og:image:alt" content="{% blocktrans with comic=chapter.comic %}Cover for {{ comic }}{% endblocktrans %}" />
    {% endif %}
    <link rel="canonical" href="{% url 'read_uuid' chapter.uniqid %}">
    <link rel="preload" href="{% url 'chapter-list' 'json' %}?comic={{ chapter.comic.id }}&language={{ chapter.language}}&ordering={{ 'volume,chapter,subchapter'|urlencode }}&n=1000" as="fetch" crossorigin="anonymous">
    <link rel="alternate" type="application/rss+xml" title="{% blocktrans with comic=chapter.comic %}RSS Feed for '{{ comic }}'{% endblocktrans %}" href="{% url 'feed_rss_comic' chapter.comic.uniqid %}" />
    <link rel="alternate" type="application/atom+xml" title="{% blocktrans with comic=chapter.comic %}Atom Feed for '{{ comic }}'{% endblocktrans %}" href="{% url 'feed_atom_comic' chapter.comic.uniqid %}" />
    <!--[if IE]>
    <meta http-equiv="refresh" content="0;url={% url 'read_uuid_strip' chapter.uniqid %}">
    <![endif]-->
    <noscript>
        <meta http-equiv="refresh" content="0;url={% url 'read_uuid_strip' chapter.uniqid %}">
    </noscript>

    <script type="application/ld+json">{% jsonld request chapter %}</script>
    <link href="{{ manifest_url }}" rel="manifest" type="application/webpub+json">
{% endcache %}{% endblock %}{% block final_head %}
    {% render_bundle 'comicake' 'js' %}
    {% render_bundle 'reader' 'css' %}
    {% render_bundle 'reader' 'js' %}
{% endblock%}
{% block extrabody %} data-turbolinks="false" data-controller="reader" data-reader-chapter-language="{{ chapter.language }}" data-reader-comic-id="{{ chapter.comic.id }}" data-reader-comic-uuid="{{ chapter.comic.uniqid }}"{% endblock %}
    {% block header %}<script>
        window.xbconfig = {
            brand: {
                name: "{{ SITE_TITLE }}",
                logo: "{% static SITE_LOGO %}"
            },
            tabs: [
                {
                    title: "{% trans 'Latest' %}",
                    href: "{% url 'latest' %}",
                    icon: "latest"
                },
                {
                    title: "{% trans 'Directory' %}",
                    href: "{% url 'directory' %}",
                    icon: "list"
                },
                {
                    title: "{% trans 'Search' %}",
                    href: "{% url 'search' %}",
                    icon: "search"
                }
            ],
            prefix: "{% url 'read_root' %}",
            cdn: "photon"
        };
    </script>{% endblock %}
{% block body %}
    <div id="XBContainer">
        <div class="br-loader__container">
            <div class="spinner" id="br-loader__spinner"></div>
            <span id="br-loader__message">Loading resources...</span>
        </div>
    </div>
    <!--<span class="mdc-fab hover material-icons" id="comments-fab" aria-label="{% trans 'Comments' %}">
        <i class="mdc-icon-toggle material-icons ripple" id="comments-fab-icon" role="button" aria-pressed="false"
            aria-label="{% trans 'Comments' %}" tabindex="0"
            data-toggle-on='{"label": "{% trans 'Hide comments' %}", "content": "close"}'
            data-toggle-off='{"label": "{% trans 'Show comments' %}", "content": "comment"}'>comment</i>
    </span>-->
{% endblock %}
{% block footer %}{% endblock %}