{% extends "layout.html" %}
{% load flatpages common humanize i18n cache %}
{% block html_prefix %} book: http://ogp.me/ns/book#{% endblock %}
{% block title %}{% tt request comic %}{% endblock %}
{% cache 600 og_data comic.uniqid %}{% block extra_head %}{# TODO: make into template tag you can pass objects #}
    <meta property="og:title" content="{% tt request comic.name %}" />
    <meta name="description" content="{{ comic.description }}">
    <meta property="og:description" content="{{ comic.description }}" />
    <meta property="og:type" content="book" />
    {% for person in comic.author.all %}<meta property="book:author" content="{% url 'person' person.id %}">{% endfor %}
    {% for tag in comic.tags.all %}<meta property="book:tag" content="{{ tag.name }}">{% endfor %}
    {% if comic.cover %}
    <meta property="og:image" content="{% icdn comic.cover.url options='{"small": true}' %}" />
    <meta property="og:image:alt" content="{% blocktrans with comic=comic %}Cover for {{ comic }}{% endblocktrans %}" />
    {% endif %}
    <link rel="alternate" type="application/rss+xml" title="{% blocktrans with comic=comic %}RSS Feed for '{{ comic }}'{% endblocktrans %}" href="{% url 'feed_rss_comic' comic.uniqid %}" />
    <link rel="alternate" type="application/atom+xml" title="{% blocktrans with comic=comic %}Atom Feed for '{{ comic }}'{% endblocktrans %}" href="{% url 'feed_atom_comic' comic.uniqid %}" />
    <script type="application/ld+json">{% jsonld request comic %}</script>
{% endblock %}{% endcache %}
{% block body %}
    <main class="mdc-toolbar-fixed-adjust" data-controller="article" data-target="article.main">
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                {% if comic.cover %}<div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop mdc-layout-grid__cell--span-2-tablet">
                    <img src="{% icdn comic.cover.url %}" style="max-width: 100%;" alt="{% blocktrans with comic=comic %}Cover for {{ comic }}{% endblocktrans %}" />
                </div>{% endif %}
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8-desktop mdc-layout-grid__cell--span-6-tablet">
                    <h1>{{ comic.name }}{% if comic.alt %}<span class="mdc-typography--title">「{{ comic.alt }}」</span>{% endif %}{% include 'partials/rss_link.html' with comic=comic %}</h1>
                    <table>{% with comic.author.all as authors %}{% if authors|length > 0 %}
                        <tr>
                            <td>{% if authors|length == 1 %}{% trans 'Author' %}{% else %}{% trans 'Authors' %}{% endif %}:</td>
                            <td>{% for person in authors %}
                                <a class="mdc-chip mdc-theme--secondary-bg" href="{% url 'person' person.id %}" title="{{ person.name }}{% if person.alt %} ({{ person.alt }}){% endif %}" tabindex="0">
                                    <div class="mdc-chip__text">{{ person.name }}</div>
                                </a>{% endfor %}
                            </td>
                        </tr>{% endif %}{% endwith %}{% with comic.artist.all as artists %}{% if artists|length > 0 %}
                        <tr>
                            <td>{% if artists|length == 1 %}{% trans 'Artist' %}{% else %}{% trans 'Artists' %}{% endif %}:</td>
                            <td>{% for person in artists %}
                                <a class="mdc-chip mdc-theme--secondary-bg" href="{% url 'person' person.id %}" title="{{ person.name }}{% if person.alt %} ({{ person.alt }}){% endif %}" tabindex="0">
                                    <div class="mdc-chip__text">{{ person.name }}</div>
                                </a>{% endfor %}
                            </td>
                        </tr>{% endif %}{% endwith %}{% with comic.licenses.all as licensees %}{% if licensees|length > 0 %}
                        <tr>
                            <td>{% trans 'Licensed by' %}:</td>
                            <td>{% for licensee in licensees %}
                                <a class="mdc-chip mdc-theme--secondary-bg" href="{{ licensee.homepage }}" target="_blank" title="{{ licensee.name }}" tabindex="0">
                                    {% if licensee.logo %}<img class="mdc-chip__icon mdc-chip__icon--leading" src="{% icdn licensee.logo.url options='{"thumb": true}' %}" />{% endif %}
                                    <div class="mdc-chip__text">{{ licensee.name }}</div>
                                </a>{% endfor %}
                            </td>
                        </tr>{% endif %}{% endwith %}{% with comic.tags.all as tags %}{% if tags|length > 0 %}
                        <tr>
                            <td>{% trans 'Tags' %}:</td>
                            <td>{% for tag in tags %}
                                <a class="mdc-chip mdc-theme--secondary-bg" href="{% url 'search' %}?tag={{ tag.slug }}" title="{{ tag.description }}" tabindex="0">
                                    <div class="mdc-chip__text">{{ tag.name }}</div>
                                </a>{% endfor %}
                            </td>
                        </tr>{% endif %}{% endwith %}
                    </table>
                    <pre style="white-space: pre-wrap; line-height: normal;">{{ comic.description }}</pre>
                </div>
            </div>
        </div>
        {% for chapter in comic.chapters %}{% ifchanged chapter.volume %}{% if not forloop.first %}
                </ul>
            </div>{% endif %}
            <div class="mdc-list-group noselect" data-controller="clickable">
                <h3 class="mdc-list-group__subheader">{% if chapter.volume %}{% blocktrans with volume=chapter.volume %}Volume {{ volume }}{% endblocktrans %}{% else %}{% trans 'Chapters' %}{% endif %}</h3>
                <hr class="mdc-list-divider mdc-list-divider--inset">
                <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list">{% endifchanged %}
                    <li class="mdc-list-item ripple" data-action="click->clickable#click">
                        <span class="mdc-list-item__graphic" role="presentation">{% spaceless %}
                                {{ chapter.chapter }}{% if chapter.subchapter %}.{{ chapter.subchapter }}{% endif %}
                        {% endspaceless %}</span>
                        <span class="mdc-list-item__text">
                            <a href="{% cpath chapter %}" data-target="clickable.target" data-turbolinks="false">{{ chapter.simple_title }}</a>
                            <span class="mdc-list-item__secondary-text">{{ chapter.published_at|ago }}{% with chapter.team.all as teams %}{% ifnotequal teams|length 0 %}
                                {% trans 'by' %}
                                {% for team in teams %}<a href="{% url 'team' team_id=team.id %}">{{ team }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
                            {% endifnotequal %}{% endwith %}</span>
                        </span>
                        <a href="#" class="mdc-list-item__meta material-icons jss" aria-label="Download this chapter" title="Download" onclick="alert('Downloads not supported yet, sorry!'); event.preventDefault();">
                            file_download
                        </a>
                    </li>{% if forloop.last %}
                </ul>
            </div>{% endif %}{% empty %}
        <span>{% trans 'No chapters available' %}</span>
        {% endfor %}
    </main>
{% endblock %}