{% extends "layout.html" %}
{% load flatpages common humanize i18n %}
{% block html_prefix %} profile: http://ogp.me/ns/profile#{% endblock %}
{% block title %}{% tt request team %}{% endblock %}
{% block extra_head %}
    <meta property="og:title" content="{% tt request team %}" />
    {% if team.description %}<meta property="og:description" content="{{ team.description }}" />{% endif %}
    <meta property="og:type" content="profile" />
    <meta property="profile:first_name" content="{{ team.name }}">
    {% if team.description %}<meta name="description" content="{{ team.description }}">{% endif %}
    <script type="application/ld+json">{% jsonld request team %}</script>
{% endblock %}
{% block body %}
    <main class="mdc-toolbar-fixed-adjust">
        <div class="mdc-layout-grid">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    <h1>{{ team.name }}</h1>
                    <p class="mdc-typography--body1">{{ team.description }}</p>
                    <h2>{% trans 'Members' %}</h2>{% for member in team.members.all %}{% if forloop.first %}
                    <ul class="mdc-list mdc-list--two-line mdc-list--avatar-list">{% endif %}
                        <li class="mdc-list-item ripple" data-action="click->clickable#click">
                            <img class="mdc-list-item__graphic" src="{% gravatar member %}" width="56" height="56" alt="{% blocktrans with member=member %}{{ member }}'s gravatar{% endblocktrans %}">
                            <span class="mdc-list-item__text">
                                {{ member.username }}
                            </span>
                        </li>{% if forloop.last %}
                    </ul>{% endif %}{% empty %}
                    <span>{% trans 'No one is a member of this team' %}</span>{% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}