{% load i18n static %}
    {% if standalone %}<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />{% endif %}
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/jquery-ui.min2.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/jquery.fileupload-ui.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/blueimp-gallery.min.css' %}" />
    <script src="{% static 'admin/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'admin/js/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'admin/js/csrf.js' %}"></script>
    <script src="{% static 'admin/js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'admin/js/tmpl.min.js' %}"></script>
    <script src="{% static 'admin/js/load-image.all.min.js' %}"></script>
    <script src="{% static 'admin/js/canvas-to-blob.min.js' %}"></script>
    <!--<script src="{% static 'admin/js/bootstrap.min.js' %}"></script>-->
    <script src="{% static 'admin/js/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'admin/js/jquery.fileupload.js' %}"></script>
    <script src="{% static 'admin/js/jquery.fileupload-process.js' %}"></script>
    <script src="{% static 'admin/js/jquery.fileupload-image.js' %}"></script>
    <script src="{% static 'admin/js/jquery.fileupload-validate.js' %}"></script>
    <script src="{% static 'admin/js/jquery.fileupload-jquery-ui.js' %}"></script>
    <script src="{% static 'admin/js/jquery.fileupload-ui.js' %}"></script>
    <script src="{% static 'admin/js/jquery.blueimp-gallery.min.js' %}"></script>
    <!-- TODO: local host -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <style>
        .submit-row .button {
            padding: 10px 15px;
        }
        @media (max-width: 767px) {
            .submit-row > * {
                width: inherit;
            }
        }
        @media (min-width: 768px) {
            .submit-row .button {
                height: 35px;
                line-height: 35px;
                margin: 0px 0px 0px 5px;
            }
            .button.default {
                float: none;
            }
        }
        .fileinput-button {
            text-align: center;
        }
        .table {
            width: 100%;
            max-width: 100%;
            margin-bottom: 1rem;
            background-color: transparent;
        }
    </style>
    <noscript>
        <style>
            #page-upload {
                display: none;
            }
        </style>
        {% if standalone %}{% trans 'Please enable JavaScript to use Multiupload functionality' %}{% endif %}
    </noscript>
    <div id="page-upload">
        <div class="row fileupload-buttonbar">
            <div class="submit-row">
                {% if standalone %}<a class="button" href="../{%if is_popup %}?pop=1{% endif %}"><i class="fa fa-arrow-left" aria-hidden="true"></i> {% trans 'Back' %}</a>{% endif %}
                <label class="button fileinput-button" style="margin-bottom: 0;">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                    {% trans 'Add files' %}
                    <input type="file" name="files[]" multiple="" hidden>
                </label>
                <a type="submit" class="button start default">
                    <i class="fa fa-upload" aria-hidden="true"></i>
                    {% trans 'Start upload' %}
                </a>
                <p class="deletelink-box" style="display: none;">
                    <a type="reset" class="deletelink cancel" href="#">
                        <i class="fa fa-ban" aria-hidden="true"></i>
                        {% trans 'Cancel upload' %}
                    </a>
                </p>
                <!--<button type="button" class="btn btn-danger delete">
                    <i class="icon-trash icon-white"></i>
                    <span>{% trans 'Delete' %}</span>
                </button>
                <input type="checkbox" class="toggle">-->
            </div>
            <!-- The global progress state -->
            <div class="fileupload-progress fade" style="display:none">
                <!-- The global progress bar -->
                <div class="progress" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
                <!-- The extended global progress state -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The loading indicator is shown during file processing -->
        <div class="fileupload-loading"></div>
        <br>
        <p style="text-align: center; font-size: 1.5em; display: none;" id="no-upload-text">{% blocktrans %}No pages have been added for this chapter. You can drag them <b>here</b> or use the button above{% endblocktrans %}</p>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="#modal-gallery"></tbody></table>
    </div>
    
    
    {% verbatim %}
    <!-- The blueimp Gallery widget -->
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls" data-filter=":even">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
    <!-- The template to display files available for upload -->
    <script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-upload fade">
            <td>
                <span class="preview"></span>
            </td>
            <td>
                <p class="name">{%=file.name%}</p>
                <strong class="error text-danger"></strong>
            </td>
            <td>
                <p class="size">Processing...</p>
                <div class="progress"></div>
            </td>
            <td>
                {% if (!i && !o.options.autoUpload) { %}
                    <button class="button start" disabled>
                        <i class="fa fa-upload"></i>
                        <span>Upload</span>
                    </button>
                {% } %}
                {% if (!i) { %}
                    <button class="button cancel">
                        <i class="fa fa-ban"></i>
                        <span>Cancel</span>
                    </button>
                {% } %}
            </td>
        </tr>
    {% } %}
    </script>
    <!-- The template to display files available for download -->
    <script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
        <tr class="template-download fade">
            <td>
                <span class="preview">
                    {% if (file.thumbnailUrl) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img width="150" height="150"  style="object-fit: contain;" src="{%=file.thumbnailUrl%}"></a>
                    {% } %}
                </span>
            </td>
            <td>
                <p class="name">
                    {% if (file.url) { %}
                        <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                    {% } else { %}
                        <span>{%=file.name%}</span>
                    {% } %}
                </p>
                {% if (file.error) { %}
                    <div><span class="label label-danger">Error</span> {%=file.error%}</div>
                {% } %}
            </td>
            <td>
                <span class="size">{%=o.formatFileSize(file.size)%}</span>
            </td>
            <td>
                {% if (file.deleteUrl) { %}
                    <button class="button delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}">
                        <i class="fa fa-trash"></i>
                        <span>Delete</span>
                    </button>
                {% } else { %}
                    <button class="button cancel">
                        <i class="fa fa-ban"></i>
                        <span>Cancel</span>
                    </button>
                {% } %}
            </td>
        </tr>
    {% } %}
    </script>
    {% endverbatim %}
    
    
    <script type="text/javascript">
    $(document).ready(function () {
        'use strict';
        // Initialize the jQuery File Upload widget:
        var $form = $('#page-upload');
        var $cbutton = $('#page-upload .deletelink-box');
        $form.fileupload({
            {% if not standalone %}url: "{{ request.get_full_path }}../multiupload/",{% endif %}
            formData: [{ name: "csrfmiddlewaretoken", value: "{{ csrf_token }}"}],
            acceptFileTypes: /(\.|\/)(gif|jpe?g|png)$/i,
            maxFileSize: 100000000,
            sequentialUploads: true
        }).bind('fileuploadsubmit', function (e, data) {
            $cbutton.show();
            var inputs = data.context.find(':input');
            if (inputs.filter('[required][value=""]').first().focus().length) {
                return false;
            }
            data.formData = inputs.serializeArray();
        }).bind('fileuploaddone', function (e, data) {
            $cbutton.hide();
        }).bind('fileuploadadd', function (e, data) {
            $("#no-upload-text").hide();
            $cbutton.show();
        });

        $(".deletelink.cancel").click(function() {
            $cbutton.hide();
        });
    
        $form.addClass('fileupload-processing');
        $.ajax({
            //xhrFields: {withCredentials: true},
            url: $form.fileupload('option', 'url'),
            dataType: 'json',
            context: $form[0]
        }).always(function () {
            $(this).removeClass('fileupload-processing');
        }).done(function (result) {
            if(!result.length)
                $("#no-upload-text").show();
            $(this).fileupload('option', 'done')
                .call(this, $.Event('done'), {result: {files: result}});
        });
    });
    window.locale = {
        "fileupload": {
            "errors": {
                "maxFileSize": "{% trans 'File is too big' %}",
                "minFileSize": "{% trans 'File is too small' %}",
                "acceptFileTypes": "{% trans 'Filetype not allowed' %}",
                "maxNumberOfFiles": "{% trans 'Max number of files exceeded' %}",
                "uploadedBytes": "{% trans 'Uploaded bytes exceed file size' %}",
                "emptyResult": "{% trans 'Empty file upload result' %}"
            },
            "error": "{% trans 'Error' %}",
            "start": "{% trans 'Start' %}",
            "cancel": "{% trans 'Cancel' %}",
            "destroy": "{% trans 'Delete' %}",
            "titleLabel": "{% trans 'Title' %}"
        }
    };
    </script>