html.js .mdc-list-item,
html.js .mdc-card__media-content {
    cursor: pointer;
}

html.no-js :not(.mdc-list--non-interactive)>.mdc-list-item:hover:before {
    opacity: 0;
}

@media (max-width: 599px) {
    .mdc-toolbar__section {
        padding-bottom: 0;
    }
}

.cake-search {
    border-radius: 0;
    margin: 0;
    position: absolute;
    top: 80px;
    right: 0;
}

.cake-search form {
    border-radius: 0;
    margin: 0;
}

.cake-search input {
    background: #222;
}

.cake-search-result {
    padding: 20px 10px;
}

.cake-search-result:hover {
    background: #333;
}

.hide {
    display: none;
}

html.no-js .jss {
    display: none !important;
}

/*** BIBI ***/
/*
div#bibi-menu {
    border-bottom: 1px solid hsla(0,0%,50%,.1);
    height: 55px;
    width: 100%;
    background: hsla(0, 0%, 100%, 0.9);
}

html.book-full-height.menu-fixed div#bibi-menu,
html.book-full-height.menu-opened div#bibi-menu,
html.book-full-height.menu-opened div#bibi-menu .mdc-tab,
html.book-full-height.menu-opened div#bibi-menu .material-icons,
html.book-full-height.menu-opened div#bibi-menu img,
html.book-full-height div#bibi-menu.hover,
html.book-full-height div#bibi-menu.hover .mdc-tab,
html.book-full-height div#bibi-menu.hover .material-icons,
html.book-full-height div#bibi-menu.hover img {
    color: rgba(255, 255, 255, 1) !important;
    opacity: 1;
}

html.book-full-height.menu-fixed div#bibi-menu,
html.book-full-height.menu-opened div#bibi-menu,
html.book-full-height div#bibi-menu.hover {
    border-bottom-color: hsla(0,0%,50%,.1);
    background-color: hsla(0, 0%, 15%, 0.9);
}

html.veil-opened div#bibi-menu {
    border-bottom-color: hsla(0,0%,50%,0);
    background-color: #111;
}

html.panel-opened div#bibi-menu,html.subpanel-opened div#bibi-menu {
    border-bottom-color: hsla(0,0%,50%,.1);
    background-color: #111;
}

div#bibi-menu,div#bibi-menu ul {
    transition: .125s linear
}

html.slider-opened.view-vertical div#bibi-menu {
    width: calc(100% - 78px)
}

html.view-vertical.slider-opened.panel-opened div#bibi-menu,html.view-vertical.slider-opened.subpanel-opened div#bibi-menu {
    width: 100%;
    padding-right: 78px
}

.bibi-button .bibi-button-iconbox .bibi-icon-loupe:before.bibi-button .bibi-button-iconbox .bibi-icon-loupe:before {
    font-family: inherit;
}

.bibi-icon-toggle-forcesinglepage:before {
    direction: ltr;
    letter-spacing: normal;
    text-transform: none;
    text-rendering: optimizeLegibility;
    white-space: nowrap;
    word-wrap: normal;
    font-family: Material Icons;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga",normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
    content: "\e8a0";
    display: block;
    position: absolute;
    margin-left: 0;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    vertical-align: top;
}

*/

.spread-box .item-box:nth-of-type(2) {
    /*width: inherit !important;*/
    /*height: auto !important;*/
}

/* Responsive toggle classes */
@media (min-width: 800px) {
    .dhide {
        display: none !important;
    }
} 
@media (max-width: 799px) {
    html.js .mhide, html.bibi .mhide {
        display: none !important;
    }
    html.no-js .dhide, html.bibi .dhide {
        display: none !important;
    }
    div#bibi-notifier-board p {
        font-size: 12px;
    }
}


/*.extra-spread-box {
    width: 100vw;
    height: 100vw;
}*/

.extra-spread-box .spread {
    display: block!important;
    margin: 0!important
}

.extra-spread-box .item-content.extra-content {
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: lr-tb;
    writing-mode: horizontal-tb;
    position: relative;
    bottom: 0;
    width: 100vw;
    height: 100%;
    background: #fff
}

html.InternetExplorer .extra-spread-box .item-content.extra-content,html.InternetExplorer .extra-spread-box .item-content.extra-content * {
    -ms-writing-mode: lr-tb;
    -webkit-writing-mode: lr-tb;
    writing-mode: lr-tb
}

.extra-spread-box .item-content.extra-content aside,.extra-spread-box .item-content.extra-content nav {
    box-sizing: border-box;
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    margin: auto;
    padding: 15px;
    max-width: 345px
}

.extra-spread-box .item-content.extra-content nav {
    bottom: 15px;
    font-size: 12px
}

.extra-spread-box .item-content.extra-content nav ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-top: 15px;
    width: 100%
}

.extra-spread-box .item-content.extra-content nav ul:first-child {
    margin-top: 0
}

.extra-spread-box .item-content.extra-content nav ul li {
    list-style: none outside
}

.extra-spread-box .item-content.extra-content nav ul li a {
    display: block;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: #666;
    opacity: .5
}

.extra-spread-box .item-content.extra-content nav ul li a[href] {
    opacity: 1;
    transition: .1s linear
}

.extra-spread-box .item-content.extra-content nav ul li a[href].hover {
    background: #e60012
}

.extra-spread-box .item-content.extra-content nav ul.volumes {
    -ms-flex-pack: justify;
    justify-content: space-between
}

.extra-spread-box .item-content.extra-content nav ul.volumes li {
    width: calc((100% - 45px) / 4)
}

.extra-spread-box .item-content.extra-content nav ul.volumes li:nth-child(2) a:after,.extra-spread-box .item-content.extra-content nav ul.volumes li:nth-child(2) a:before,.extra-spread-box .item-content.extra-content nav ul.volumes li:nth-child(3) a:after,.extra-spread-box .item-content.extra-content nav ul.volumes li:nth-child(3) a:before {
    font-family: FontAwesome; // PROBLEM TODO
    font-style: normal;
    font-weight: 400;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
    display: inline-block;
    font-size: 1.25em;
    vertical-align: top
}

.extra-spread-box .item-content.extra-content nav ul.volumes li:nth-child(2) a:after {
    content: "\f105";
    margin-left: .25em;
    transform: translate(.125em,-.025em)
}

.extra-spread-box .item-content.extra-content nav ul.volumes li:nth-child(3) a:before {
    content: "\f104";
    margin-right: .25em;
    transform: translate(-.0625em,-.025em)
}

.extra-spread-box .item-content.extra-content nav ul.relatives {
    -ms-flex-pack: distribute;
    justify-content: space-around
}

.extra-spread-box .item-content.extra-content nav ul.relatives li {
    width: calc((100% - 15px) / 2)
}

.extra-spread-box .item-content.extra-content aside {
    bottom: 120px;
    font-size: 16px
}

.extra-spread-box .item-content.extra-content aside a {
    text-decoration: none;
    color: inherit;
    transition: .1s linear
}

.extra-spread-box .item-content.extra-content aside .figgroup {
    color: #000
}

.extra-spread-box .item-content.extra-content aside .figgroup figure {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    line-height: 1
}

.extra-spread-box .item-content.extra-content aside .figgroup figure a .figbody img {
    width: auto;
    height: auto;
    max-width: 290px;
    max-height: 200px;
    transition: .1s linear;
    will-change: opacity
}

.extra-spread-box .item-content.extra-content aside .figgroup figure a figcaption {
    margin-top: .75em
}

.extra-spread-box .item-content.extra-content aside .figgroup figure a.hover {
    color: #faa83a
}

.extra-spread-box .item-content.extra-content aside .figgroup figure a.hover .figbody img {
    opacity: .8
}

.extra-spread-box .item-content.extra-content aside .figgroup p a {
    display: block;
    box-sizing: border-box;
    position: relative;
    margin-top: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 50px;
    line-height: 50px;
    text-align: center
}

.extra-spread-box .item-content.extra-content aside .figgroup p a img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: auto;
    height: auto;
    max-width: 80%;
    max-height: 80%
}

.extra-spread-box .item-content.extra-content aside .figgroup p a.hover {
    border-color: #faa83a;
    background: rgba(250,168,58,.1)
}